@import "tailwindcss";

:root {
    --body-gray: #FAF9F7;
    --navbar-primary: #D5D4CF;
    --navbar-hover: #E6E5E0;
    --navbar-selected-side: #242A33;
    --body-white: #FFFFFF;
    --body-bold:#E6E5E0;
  }